
.side-bar{
    width: 20%;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 900;
    background-color: #18113c;
    height: 100vh;
}
.link{
    color: #E5D0BC;
}
.header{
    background-color: rgb(192, 156, 156);
    color: rgb(37, 20, 20);
}
.header h1{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 900;
}