.banner{
    width: 90%;
    margin: 0 auto;
    display: flex;
}
.info-header{
    margin-top: 20%;
}
img{
    width: 50%;
    margin-top: 10%;
}

.contact-btn{
    border: 1px solid black;
    border-radius: 7px;
    background-color: antiquewhite;
}